.wrapper
  - result.each do |movie|
    .grid-item
      %div.title
        %span
          = "#{movie[:name]} (#{movie[:year]})"
      %div.genres
        - movie[:genres].each do |genre|
          %span.genre
            = genre
      %div.cover
        - if movie[:cover]
          = image_tag(movie[:cover], width: 260)
        - else
          = image_tag('placeholder.png')
